.caption {
   &_violet {
      background: rgba(91, 23, 208, 0.1);
   }

   &_yellow {
      background: rgba(254, 183, 18, 0.1);
   }

   &_orange {
      background: rgba(255, 119, 65, 0.1);
   }

   &_blue {
      background: rgba(49, 71, 255, 0.1);
   }

   &_aqua {
      background: rgba(79, 214, 229, 0.1);
   }

   &_red {
      background: rgba(225, 63, 87, 0.1);
   }

   &_purple {
      background: rgba(165, 68, 183, 0.1);
   }

   &_green {
      background: rgba(29, 185, 84, 0.1);
   }
}
